



<div class="posicao-geometricas">
    
   <svg class="forma-laranja" width="130" height="262" viewBox="0 0 130 262" fill="none" xmlns="http://www.w3.org/2000/svg">
   <rect width="130" height="262" rx="65" fill="#F7A14A"/>
   </svg>
  
   <svg class="forma-verde" width="168" height="212" viewBox="0 0 168 212" fill="none" xmlns="http://www.w3.org/2000/svg">
   <rect width="168" height="212" rx="10" fill="#32771B"/>
   </svg>
  
  </div>
<div class="center jumbotron">
<h1>Bem Vindos ao Pet Helper</h1>

  <h2>
    Aqui você poderá achar o seu pet ideal!
  </h2>

 
</div>
<br>
<br>
<br>





