<h1>Seu Perfil</h1>
<br>
<table class="table">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Telefone</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @funcionario.nome %></td>
    <td><%= @funcionario.celular %></td>
  </tr>
  </tbody>
  
</table>
    <br>
 
    
  <br>  
    
   